.App {
  text-align: center;
}

.App-logo {
  height: 15rem;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 62.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 0.75rem);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.Homepage {
  width: 100vw;
  height: 62.5rem;
  background: #5d595b;
  background-repeat: no-repeat;
  background-size: 100vw 68.75rem;
  color: white;
  display: flex;
  justify-content: center;
}
.inputBox {
  width: 100vw;
  height: 21rem;
  /* background-color: #757072; */
  margin-top: 4.0625rem;
  padding: 1.25rem;
}
.input {
  width: 18.75rem;
  height: 2.5rem;
  font-size: 1.125rem;
  padding: 0.625rem;
  margin-top: 1.25rem;
}

.Tvmaza {
  font-size: 4.35rem;
  font-weight: 900;
  /* background-color: #757072; */
}
.fa-tv {
  padding-right: 1.25rem;
}
.SearchText {
  font-size: 2.5rem;
}
.Tag {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1.875rem;
  background-color: #5d595b;
}
.items {
  border: 3px solid black;
  margin: 1.25rem;
  background-color: #15202b;
  color: #66d9d1;
  overflow: hidden;
}
.DisCr {
  width: 12.5rem;
  height: 3.06rem;
  overflow-y: hidden;
  color: white;
}
.name {
  width: 12.5rem;
  overflow: hidden;
}
@media(minn-width:351px) and (max-width:540px){
  html{
    font-size: 55%;
  }
}
@media(max-width:350px){
  html{
    font-size: 45%;
  }
}

